name: Metrics
on:
  # Schedule updates (each hour)
  schedule: [{cron: "0 * * * *"}]
  # Lines below let you run workflow manually and on each commit (optional)
  workflow_dispatch:
  push: {branches: ["master", "main"]}
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    steps:
    
      - name: Personal metrics
        if: ${{ success() || failure() }}
        uses: lowlighter/metrics@latest
        with:
          base: header, repositories
          filename: metrics.svg
          token: ${{ secrets.METRICS_TOKEN }}
          repositories_forks: yes
          repositories_affiliations: owner, collaborator
          
      - name: Languages
        if: ${{ success() || failure() }}
        uses: lowlighter/metrics@latest
        with:
          filename: metrics.languages.svg
          token: ${{ secrets.METRICS_TOKEN }}
          repositories_forks: yes
          repositories_affiliations: owner, collaborator
          base: ""
          plugin_languages: yes
          plugin_languages_details: lines, percentage
          plugin_languages_limit: 4
          plugin_languages_sections: most-used, recently-used
          plugin_languages_indepth: yes
          
      - name: Achievements
        if: ${{ success() || failure() }}
        uses: lowlighter/metrics@latest
        with:
          filename: metrics.achievements.svg
          token: ${{ secrets.METRICS_TOKEN }}
          repositories_forks: yes
          repositories_affiliations: owner, collaborator
          base: ""
          plugin_achievements: yes
          plugin_achievements_secrets: yes
          plugin_achievements_display: compact
